body{
    font-family: "Open Sans", sans-serif;
    color: white;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

#Draw{
    z-index: -100;
    position:absolute;
}

.sideBar{
    position:absolute;
    background-color: #050505a6;
    border-radius: 0px 20px 20px 0px;
    height:100%;
    width:320px;

    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
}

#pageTitle{
    color: white;
    padding: 0px;
    margin: 20px 5px;
}
#genSav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.btnGenSav{
    transition: all .2s linear;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 109px;
    height: 38px;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 8px #0000008f);
}
.btnGenSav:hover{
    color: white;
    background-color: black;
    filter: drop-shadow(5px 10px 8px #000000bb);
}

.dividerLateral{
    margin: 20px 0px;
    width: 80%;
}

.latTitleBtn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px;
    text-align: center;
    margin: 0px 0px;
}

.latTitle{
    margin:0px; grid-column: span 2 / span 2;
    grid-column-start: 2;
}
.latBtn{
    cursor: pointer;
    background: none;
    border: none;
    margin:0px; 
    grid-column-start: 4;
    color:#E62C2C;
}

.dividerLateral hr{
    margin: 5px 0px 5px;
}

.btnBaseColors {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    appearance: none;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}
.btnBaseColors::-webkit-color-swatch {
    border-radius: 15px;
    border: 1px solid white;
}
.btnBaseColors::-moz-color-swatch {
    border-radius: 15px;
    border: 1px solid white;
}

#box-ColorsContainer{
    display: flex;
    justify-content: space-around;
}

#voltar{
    margin: 20px 0px;
    width: 95%;
}
#voltar a{
    color: white;
    text-decoration: none;
}

#box-ColorsXContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#btnAddColor{
    transition: all .2s linear;
    cursor: pointer;
    font-size: 40px;
    width: 51px;
    height: 51px;
    color:black;
    background-color: white;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0px 5px 8px #0000008f);
}
#btnAddColor:hover{
    color: white;
    background-color: black;
    filter: drop-shadow(5px 10px 8px #000000bb);
}
.customColorUnit{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.customColorX{
    transition: all .2s linear;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.customColorX:hover{
    background-color: black;
    color: white;
}